.footer {
  background-color: $bg-footer;
  padding-top: 250px;
  padding-bottom: 2px !important; // to give credit to frontend mentor

  &__logo {
    margin-bottom: 2rem;
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "addr" "contact" "col1" "col2" "social";
    justify-content: space-between;

    @include breakpoint-up(medium) {
      grid-template-columns: 3fr repeat(2, 1fr) 2fr;
      grid-template-areas: 
        "addr col1 col2 social"
        "contact col1 col2 social";
      column-gap: 40px;
    }

    @include breakpoint-up(large) {
      grid-template-columns: 3fr 2fr repeat(2, 1fr) 2fr;
      grid-template-areas: "addr contact col1 col2 social";
      gap: 40px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: 1140px) {
      gap: 80px; 
    }

  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding: 10px 0;
  }

  a {
    color: $white;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin-right: 1rem;
  }

  &__addr {
    grid-area: addr;
    padding: 10px 0;
    &__list {
      display: flex;
      span:first-child {
        min-width: 18px;
        margin-right: 1rem;
      }
    }
  }

  &__contact {
    grid-area: contact;
  }

  &__menu {
    &__link {
      transition: all 300ms ease;
      &:hover {
        font-weight: $font-bold;
      }
    }
  }

  .col-1 {
    grid-area: col1;
  }

  .col-2 {
    grid-area: col2;
  }

  &__social {
    grid-area: social;
    text-align: right;
    &__item {
      display: inline-block;
    }
    &__link {
      transition: all 300ms ease-in-out;

      &:hover {
        color: $cyan;
      }
    }
  }

  @include breakpoint-down(small) {
    &__contact {
      margin-bottom: 2rem;
    }
  
    &__menu {
      margin-top: 2rem;
    }

    &__social {
      margin-top: 5rem;
      text-align: center;
    }
  }
  .attribution { 
    font-size: 11px; text-align: center; 
    a {
      font-weight: $font-bold;
      color: $white;
      transition: all 300ms ease-in-out;
      &:hover {
        color: $cyan;
      }
    }
  }

}