html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: $font-sm;
  font-family: 'Open Sans', sans-serif;
  color: $white;

  h2 {
    font-size: $font-lg;
  }

  a {
    text-decoration: none;
  }

  .font-secondary {
    font-family: 'Raleway', sans-serif;
  }

  .font-bold {
    font-weight: $font-bold;
  }

  .container {
    padding: 3.125rem 1.5rem;

    @include breakpoint-up(large) {
      padding: 3.125rem 4.375rem;
    }
    
    &--sm {
      max-width: 64rem;
      margin: 0 auto;
    }

  }

  .btn__cta {
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, $cyan, $blue);
    color: $white;
    text-decoration: none;
    text-align: center;
    border-radius: 3.125rem;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 3.125rem;
      opacity: 0;
      transition: all 300ms ease-in-out;
    }

    &:hover::before {
      opacity: 1;
    }
  }

}