.intro {
  position: relative;
  background-color: $bg-intro;
  background-image: url("../../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 55%;

  @include breakpoint-down(small) {
    background-image: url("../../images/bg-curvy-mobile.svg"), linear-gradient($bg-intro, $bg-intro 63%, $bg-main, $bg-main 63%);
  }

  @include breakpoint-up(medium) {
    background-image: url("../../images/bg-curvy-desktop.svg");
    background-position: center bottom;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.25rem;

    @include breakpoint-up(large) {
      padding: 3.125rem 4.375rem;
    }

    &__logo {
      @include breakpoint-down(small) {
        width: 5rem;
      }
    }

    &__menu {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &__item {
      display: inline-block;

      &:not(:last-child) {
        padding-right: 1.5rem;

        @include breakpoint-up(large) {
          padding-right: 3.4375rem;
        }
      }
    }

    &__link {
      color: $white;
      text-decoration: none;
      transition: all 300ms ease-in-out;

      &:hover {
        font-weight: $font-bold;
      }
    }
  }

  .hero {
    text-align: center;

    &__image {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }

    &__body {
      max-width: 40rem;
      margin: 2rem auto;
    }

    &__btn {
      @extend .btn__cta;
      padding: 1rem 5rem;
    }

    @include breakpoint-up(medium) {
      &__title {
        font-size: $font-xxl;
      }

      &__text {
        padding: 0 4.5rem;
        font-size: $font-m;
      }
    }
  }
}