.main {
  background-color: $bg-main;

  .service {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 4.375rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
      
    }

    @include breakpoint-up(large) {
      column-gap: 8.4375rem;
    }

    &__card {
      text-align: center;
    }
  }
}