.sign-up {
  transform: translateY(50%);

  &__card {
    background-color: $bg-intro;
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;

    @include breakpoint-up(medium) {
      padding: 2.5625rem 4.6875rem;
    }
  }

  &__title {
    @include breakpoint-up(medium) {
      font-size: $font-xl;
    }
  }

  .form {
    &__group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__input {
      flex: 100%;

      @include breakpoint-up(large) {
        flex: 3;
        margin-right: 1.5rem;
      }
    }

    &__alert {
      display: none;
      text-align: left;
      padding-left: 2rem;
      font-size: 12px;
      color: $lightRed;
    }
  }

  &__email {
    width: 100%;
  }

  &__action {
    margin: 12px auto;
    border: 0;
    outline: 0;
    padding: 1rem 1.8125rem;
    border-radius: 3.125rem;
  }

  &__btn {
    flex: 100%;
    @extend .btn__cta;

    @include breakpoint-up(large) {
      flex: 1;
    }
  }

}