.sign-up {

  &__card {
    background-color: $bg-intro;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  &__action {
    width: 280px;
    margin: 12px auto;
    border: 0;
    outline: 0;
    padding: 16px 29px;
    border-radius: 50px;
  }

  &__btn {
    @extend .btn__cta;
  }

}