// Colors
// Primary

$bg-intro: hsl(217, 28%, 15%);
$bg-main: hsl(218, 28%, 13%);
$bg-footer: hsl(216, 53%, 9%);
$bg-seondary: hsl(219, 30%, 18%);
// Accent
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$lightRed: hsl(0, 100%, 63%);
// Neutral
$white: hsl(0, 0%, 100%);

// Typography

// Font Family
// $font-primary: 'Open Sans', sans-serif;
// $font-secondary: 'Raleway', sans-serif;

// Font Size
$font-xxs: 0.625rem; //10px
$font-xs: 0.75rem; //12px
$font-sm: 0.875rem; //14px
$font-m: 1rem; //16px
$font-lg: 1.125rem; //18px
$font-xl: 2rem; //32px

// Font Weight
$font-regular: 400;
$font-bold: 700;

